#### Find and access a data set in any way you want. You can use an API, a CSV, anything.

In [3]:
import pandas as pd
from datetime import datetime

In [4]:
moon_df = pd.read_csv('full_moon.csv')
births1_df = pd.read_csv('US_births_1994-2003_CDC_NCHS.csv')
births2_df = pd.read_csv('US_births_2000-2014_SSA.csv')

print(moon_df.head(3), births1_df.head(3), births2_df.head(3), sep="\n\n")

         Day               Date          Time
0     Monday    15 January 1900   08:07:30 pm
1  Wednesday   14 February 1900   02:50:12 pm
2     Friday      16 March 1900   09:11:48 am

   year  month  date_of_month  day_of_week  births
0  1994      1              1            6    8096
1  1994      1              2            7    7772
2  1994      1              3            1   10142

   year  month  date_of_month  day_of_week  births
0  2000      1              1            6    9083
1  2000      1              2            7    8006
2  2000      1              3            1   11363

#### Fix TWO issues with the data set using techniques you've learned in class.

1. Remove null values and whitespace

In [5]:
# Check for null values
print(
    births1_df[births1_df.isna().any(axis=1)],
    births2_df[births2_df.isna().any(axis=1)],
    moon_df[moon_df.isna().any(axis=1)],
    sep="\n\n")

Empty DataFrame
Columns: [year, month, date_of_month, day_of_week, births]
Index: []

Empty DataFrame
Columns: [year, month, date_of_month, day_of_week, births]
Index: []

Empty DataFrame
Columns: [Day,  Date,  Time]
Index: []

In [6]:
# No null values!
# Check dtypes: both birth sets should have only ints, moon_df should have objects

print(births1_df.dtypes, births2_df.dtypes, moon_df.dtypes, sep="\n\n")

year             int64
month            int64
date_of_month    int64
day_of_week      int64
births           int64
dtype: object

year             int64
month            int64
date_of_month    int64
day_of_week      int64
births           int64
dtype: object

Day      object
 Date    object
 Time    object
dtype: object

In [7]:
# Looks good except that Date and Time column names in moon_df look to have extra leading whitespace

moon_df.columns

Index(['Day', ' Date', ' Time'], dtype='object')

In [8]:
# Extra whitespace confirmed - strip and check results

moon_df.columns = moon_df.columns.str.lstrip()
moon_df.columns

Index(['Day', 'Date', 'Time'], dtype='object')

2. Convert dates in all dfs to YYYY-MM-DD

In [9]:
# Start with moon_df

moon_df['Date'] = pd.to_datetime(moon_df['Date'])
print(moon_df.dtypes, moon_df.head(), sep='\n\n')

Day             object
Date    datetime64[ns]
Time            object
dtype: object

         Day       Date          Time
0     Monday 1900-01-15   08:07:30 pm
1  Wednesday 1900-02-14   02:50:12 pm
2     Friday 1900-03-16   09:11:48 am
3     Sunday 1900-04-15   02:02:06 am
4     Monday 1900-05-14   04:36:36 pm

In [12]:
# Next do the birth dfs

births1_df['Full Date'] = pd.to_datetime(births1_df.year.astype(str) + '-' + births1_df.month.astype(str) + '-' + births1_df.date_of_month.astype(str))
print(births1_df.head(), births1_df.dtypes, sep='\n\n')

   year  month  date_of_month  day_of_week  births  Full Date
0  1994      1              1            6    8096 1994-01-01
1  1994      1              2            7    7772 1994-01-02
2  1994      1              3            1   10142 1994-01-03
3  1994      1              4            2   11248 1994-01-04
4  1994      1              5            3   11053 1994-01-05

year                      int64
month                     int64
date_of_month             int64
day_of_week               int64
births                    int64
Full Date        datetime64[ns]
dtype: object

In [13]:
births2_df['Full Date'] = pd.to_datetime(births2_df.year.astype(str) + '-' + births2_df.month.astype(str) + '-' + births2_df.date_of_month.astype(str))
print(births2_df.head(), births2_df.dtypes, sep='\n\n')

   year  month  date_of_month  day_of_week  births  Full Date
0  2000      1              1            6    9083 2000-01-01
1  2000      1              2            7    8006 2000-01-02
2  2000      1              3            1   11363 2000-01-03
3  2000      1              4            2   13032 2000-01-04
4  2000      1              5            3   12558 2000-01-05

year                      int64
month                     int64
date_of_month             int64
day_of_week               int64
births                    int64
Full Date        datetime64[ns]
dtype: object