In [14]:
import requests
import pandas as pd

In [32]:
# get data from datausa as a json and take a look

url = "https://datausa.io/api/data?drilldowns=Nation&measures=Population"
response = requests.get(url).json()
response

{'data': [{'ID Nation': '01000US',
   'Nation': 'United States',
   'ID Year': 2020,
   'Year': '2020',
   'Population': 326569308,
   'Slug Nation': 'united-states'},
  {'ID Nation': '01000US',
   'Nation': 'United States',
   'ID Year': 2019,
   'Year': '2019',
   'Population': 324697795,
   'Slug Nation': 'united-states'},
  {'ID Nation': '01000US',
   'Nation': 'United States',
   'ID Year': 2018,
   'Year': '2018',
   'Population': 322903030,
   'Slug Nation': 'united-states'},
  {'ID Nation': '01000US',
   'Nation': 'United States',
   'ID Year': 2017,
   'Year': '2017',
   'Population': 321004407,
   'Slug Nation': 'united-states'},
  {'ID Nation': '01000US',
   'Nation': 'United States',
   'ID Year': 2016,
   'Year': '2016',
   'Population': 318558162,
   'Slug Nation': 'united-states'},
  {'ID Nation': '01000US',
   'Nation': 'United States',
   'ID Year': 2015,
   'Year': '2015',
   'Population': 316515021,
   'Slug Nation': 'united-states'},
  {'ID Nation': '01000US',
   'Nation': 'United States',
   'ID Year': 2014,
   'Year': '2014',
   'Population': 314107084,
   'Slug Nation': 'united-states'},
  {'ID Nation': '01000US',
   'Nation': 'United States',
   'ID Year': 2013,
   'Year': '2013',
   'Population': 311536594,
   'Slug Nation': 'united-states'}],
 'source': [{'measures': ['Population'],
   'annotations': {'source_name': 'Census Bureau',
    'source_description': 'The American Community Survey (ACS) is conducted by the US Census and sent to a portion of the population every year.',
    'dataset_name': 'ACS 5-year Estimate',
    'dataset_link': 'http://www.census.gov/programs-surveys/acs/',
    'table_id': 'B01003',
    'topic': 'Diversity',
    'subtopic': 'Demographics'},
   'name': 'acs_yg_total_population_5',
   'substitutions': []}]}

In [34]:
# Take the first key-value pair in json dictionary and create dataframe

data = response['data']
df = pd.DataFrame(data)
df

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2020  2020   326569308  united-states
1   01000US  United States     2019  2019   324697795  united-states
2   01000US  United States     2018  2018   322903030  united-states
3   01000US  United States     2017  2017   321004407  united-states
4   01000US  United States     2016  2016   318558162  united-states
5   01000US  United States     2015  2015   316515021  united-states
6   01000US  United States     2014  2014   314107084  united-states
7   01000US  United States     2013  2013   311536594  united-states

In [27]:
df.dtypes

ID Nation      object
Nation         object
ID Year         int64
Year           object
Population      int64
Slug Nation    object
dtype: object

In [26]:
df.describe()

          ID Year    Population
count     8.00000  8.000000e+00
mean   2016.50000  3.194864e+08
std       2.44949  5.252633e+06
min    2013.00000  3.115366e+08
25%    2014.75000  3.159130e+08
50%    2016.50000  3.197813e+08
75%    2018.25000  3.233517e+08
max    2020.00000  3.265693e+08